SPRING_PROFILES_ACTIVE=prod
APP_PORT=58080

DB_HOST=postgres
DB_PORT=5432
DB_NAME=employee_manager
DB_USERNAME=app
DB_PASSWORD=change-me
DB_EXPOSE_PORT=5432

JAVA_OPTS=-Xms256m -Xmx512m
TZ=Asia/Shanghai
